<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<div class="box">
  		<h3>Dashboard</h3>
      <a href="/dashboard/list" class="btn btn-primary">Listar</a>
  	</div>
  </body>
</html>
